.App {
    font-family: sans-serif;
    padding: 16px 16px 128px;
    background-color: gray;
    height: 100vh;
  }
  
  .example-wrapper {
    padding: 16px 120px;
    
  }
  .center-button{
    padding: 16px 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  
  
  }
  
  .bottom-right-button{
    padding: 50px 50px;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .bottom-left-button{
    padding: 50px 50px;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .top-right-button{
    padding: 50px 50px;
    position: fixed;
    top: 0;
    right: 0;
  }
  .top-left-button{
    padding: 50px 50px;
    position: fixed;
    top: 0;
    left: 0;
  }
  .example-emoji {
    font-size: 64px;
    
    width: 64px;
    height: 64px;
  }
 